.filter {
    width: 355px;
    height: 1910px;
    background: #F4F4F4;
    border-radius: 3px;
}
.filter__apply {
    display: none;
}
@media screen and (max-width: 1570px){
    .filter {
        width: 22.903vw;
        height: 110%;
        background: #F4F4F4;
        border-radius: 0.194vw;
    }
}


@media screen and (max-width: 767px) { 
    .filter {
        display: none;
        width: 414px;
        height: 1910px;
        border-radius: 3px;
    }
    .filter__apply {
        display: flex;
        justify-content: space-between;
        width: 414px;
        height: 115px;
        background: rgb(255, 255, 255) !important;
    }
}

.filter__block {
    position: absolute;
    z-index: 10;
    top: 38px;
    display: block;
    height: auto;
}