.footer__politic {
    width: 100%;
    display: flex;
    margin-top: 55px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    border-top: 1px solid rgba(217, 218, 225, 0.8);
    padding-top: 25px;
}


@media screen and (max-width: 1570px){
    .footer__politic {
        margin-top: 3.548vw;
        padding-top: 1.613vw;
    }
}

@media screen and (max-width: 767px){
    .footer__politic {
        width: 374px;
        margin: 9px 0 0 3px;
        padding-top: 30px;
        flex-direction: column;
    }
}