.banner__image {
    position: absolute;
    bottom: 0;
    left: 405px;
}
.banner__image_min {
    display: none;
}
@media screen and (max-width: 1570px){
    .banner__image {
        left: 25.484vw; 
        width: 54.129vw;
        height: 18.968vw;
    }
}


@media screen and (max-width: 767px) { 
    .banner__image_min  {
        height: 426px;
        width: 416px;
        display: block;
        position: absolute;
        bottom: -84px;
        object-fit: contain;
        left: -2px;
    }
    .banner__image {
        display: none;
    }
}
