.page {
    max-width: 100%;
    margin: 0 auto;
    font-family: 'Euclid Circular';
    background: rgb(250, 250, 250);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
@media screen and (max-width: 1024px){
    .page {
        width: 100%;
    }
}
@media screen and (max-width: 320px){
    .page {
        min-width: 320px;
    }
}