.page {
    max-width: 100%;
    margin: 0 auto;
    font-family: 'Euclid Circular';
    background: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
}