.product__nomination {
    font-weight: 600;
    font-size: 16px;
    line-height: 25px;
    color: #2B2E34;
    width: 298px;
    margin: 38px auto;
}

@media screen and (max-width: 1570px){
    .product__nomination {
        font-size: 1.032vw;
        line-height: 1.613vw;
        width: 19.226vw;
        margin: 2.452vw auto;
    }
}