.filter__close {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    margin: 30px 30px 59px;
    flex-direction: row;
    align-items: baseline;
}

@media screen and (max-width: 1570px){

    .filter__block .filter__close {
        margin-bottom: 3.248vw;
    }
    .filter__apply .filter__close {
        padding-bottom: 51px;
        border: 0;
        background: rgb(255, 255, 255);
    }
} 

@media screen and (max-width: 767px){

    .filter__block .filter__close {
        margin: 30px 0 51px 20px;
    }
    .filter__apply .filter__close {
        padding-bottom: 51px;
        border: 0;
        background: rgb(255, 255, 255);
    }
} 