.filter__close {
    display: flex;
    background: transparent url(../../../images/close.svg) no-repeat 309px 36px;
    margin: 0 0 60px;
    cursor: pointer;
}

@media screen and (max-width: 1570px){
    .filter__close {
        background: transparent url(../../../images/close.svg) no-repeat 19.935vw 2.323vw / 4.5%;
        margin: 0 0 3.871vw;
    }
}