.header__nav_car {
    background: transparent url(../../../../images/car.svg) no-repeat center 6px;
    width: 35px;
    height: 35px;
    cursor: pointer;
}

.header__nav_car:hover {
    opacity: 0.7;
}