.header__nav_car {
    background: transparent url(../../../../images/car.svg) no-repeat center 6px;
    width: 35px;
    height: 35px;
    cursor: pointer;
}

.header__nav_car:hover {
    opacity: 0.7;
}

@media screen and (max-width: 1570px) { 
    .header__nav_car {
        background: transparent url(../../../../images/car.svg) no-repeat center 0.387vw / 101%;
        width: 2.229vw;
        height: 2.229vw;
    }
}

@media screen and (max-width: 767px) { 
    .header__nav_car {
        background: transparent url(../../../../images/phone.svg) no-repeat center;
        height: 23px;
        width: 24px;
    }
}