.filter__price {
    width: 297px;
    margin: 0 auto;
    position: relative;
    font-size: 14px;
    line-height: 10px;
    font-weight: 500;
    margin: 0 auto 64px;

}

.price {
    width: 295px;
    margin: 0 0 0 auto;
    border-top: 3px solid #DEE1E8;
    margin-bottom: 23px;
}

.filter__price .bar {
    width: 182px;
    position: absolute;
    border-top: 3px solid #38D3E8;
    top: 63px;
    left: 3px;
}

.filter__price .bar:before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 18px;
    position: absolute;
    left: 0;
    bottom: -7px;
    border-left: 3px solid #38D3E8;
}

.filter__price .bar:after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 18px;
    position: absolute;
    right: 0;
    bottom: -7px;
    border-right: 3px solid #38D3E8;
}

.filter__price span {
    vertical-align: super; 
    font-size: 13px;
}



@media screen and (max-width: 1570px){
    .filter__price {
        width: 19.355vw;
        font-size: 0.903vw;
        line-height: 0.645vw;
        margin: 0 auto 4.323vw;
    
    }
    
    .price {
        width: 19.032vw;
        margin-bottom: 1.484vw;
    }
    
    .filter__price .bar {
        width: 11.742vw;
        top: 4.065vw;
        left: 0.194vw;
    }
    
    .filter__price .bar:before {
        width: 0.065vw;
        height: 1.161vw;
        bottom: -0.452vw;
    }
    
    .filter__price .bar:after {
        width: 0.065vw;
        height: 1.161vw;
        bottom: -0.452vw;
    }
    
    .filter__price span {
        font-size: 0.645vw;
    }
}

@media screen and (max-width: 767px){
    .filter__price {
        width: 300px;
        margin: 0 auto;
        font-size: 14px;
        line-height: 10px;
        margin: 0 auto 67px;
    
    }

    .filter__block .filter__price {
        width: 375px;
        margin: 0 auto;
        font-size: 14px;
        line-height: 10px;
        margin: 0px auto 63px;
    }

    .price {
        width: 295px;
        margin: 0 0 0 auto;
        border-top: 3px solid #DEE1E8;
        margin-bottom: 23px;
    }
    
    .filter__price .bar {
        width: 182px;
        border-top: 3px solid #38D3E8;
        top: 63px;
        left: 3px;
    }
    
    .filter__price .bar:before {
        width: 1px;
        height: 18px;
        left: 0;
        bottom: -7px;
        border-left: 3px solid #38D3E8;
    }
    
    .filter__price .bar:after {
        width: 1px;
        height: 18px;
        bottom: -7px;
        border-right: 3px solid #38D3E8;
    }
    
    .filter__price span {
        font-size: 10px;
    }
}