.filter__price {
    width: 300px;
    margin: 0 auto;
    position: relative;
    font-size: 14px;
    line-height: 10px;
    font-weight: 500;
    margin: 0 auto 67px;

}

.price {
    width: 295px;
    margin: 0 0 0 auto;
    border-top: 3px solid #DEE1E8;
    margin-bottom: 23px;
}

.filter__price .bar {
    width: 182px;
    position: absolute;
    border-top: 3px solid #38D3E8;
    top: 62px;
    left: 3px;
}

.filter__price .bar:before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 18px;
    position: absolute;
    left: 0;
    bottom: -7px;
    border-left: 3px solid #38D3E8;
}

.filter__price .bar:after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 18px;
    position: absolute;
    right: 0;
    bottom: -7px;
    border-right: 3px solid #38D3E8;
}

.filter__price span {
    vertical-align: super; 
    font-size: 10px;
}