.header__filter {
    height: 19px;
    cursor: pointer;
    display: none;
}

.header__filter:hover {
    opacity: 0.7;
}

@media screen and (max-width: 1570px) { 
    .header__filter {
        height: 1.226vw;
    }
}

@media screen and (max-width: 767px) { 
    .header__filter {
        height: 19px;
        margin: 26px 0 26px 21px;
        display: block;
    }
}