.header__filter {
    height: 19px;
    cursor: pointer;
}

.header__filter:hover {
    opacity: 0.7;
}

@media screen and (max-width: 1570px) { 
    .header__filter {
        height: 1.226vw;
    }
}