.footer__social {
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    color: #2B2E34;
    margin: 0 0 21px;
}

@media screen and (max-width: 1570px){
    .footer__social {
        font-size: 1.161vw;
        line-height: 1.290vw;
        margin: 0 0 1.355vw;
    }
}

@media screen and (max-width: 767px){
    .footer__social {
        font-weight: 500;
        font-size: 18px;
        line-height: 20px;
        margin: 0 0 21px;
    }
}