.banner__text {
    font-weight: 600;
    font-size: 42px;
    line-height: 53px;
    color: #FFFFFF;
    margin: 0 0 21px;
}

@media screen and (max-width: 1570px){
    .banner__text {
        font-size: 2.710vw;
        line-height: 3.419vw;
        margin: 0 0 1.355vw;
    }
}

@media screen and (max-width: 767px) { 
    .banner__text {
        font-size: 28px;
        line-height: 36px;
        margin: 41px 35px 12px;
    }
}