.product__status {
    position: absolute;
    width: 82px;
    height: 82px;
    bottom: 0;
    right: 0;
    background: #38D3E8 url(../../../images/shop.svg) center no-repeat;
    text-decoration: none;
    border: 0;
    cursor: pointer;
}

.product__status:hover {
 opacity: 0.7;
}

@media screen and (max-width: 1570px){
    .product__status {
        width: 5.290vw;
        height: 5.290vw;
        background-size: 26%;
    }
}

@media screen and (max-width: 767px){
    .product__status {
        width: 43px;
        height: 43px;
        background-size: 40%;
    }
}