.header__filter_nav {
    border-top: 2px solid #2B2E34;
    margin: 0 0 7px;
    width: 34px;
    height: 0;
}

@media screen and (max-width: 1570px) { 
    .header__filter_nav {
        margin: 0 0 0.452vw;
        width: 2.194vw;
    }
}

@media screen and (max-width: 767px) { 
    .header__filter_nav {
        border-top: 3px solid #2B2E34;
        margin: 0 0 7px;
        width: 27px;
        height: 0;
    }
}