.product__text {
    background: transparent url(../../../images/procent.svg) no-repeat 15px 2px;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    color: rgba(255, 255, 255, 0.9);
    text-align: center;
    margin: 9px 0 8px 2px;
    padding-left: 20px;
}

@media screen and (max-width: 1570px){
    .product__text {
        background: transparent url(../../../images/procent.svg) no-repeat 0.968vw 0.129vw;
        background-size: 13%;
        font-size: 0.968vw;
        line-height: 1.226vw;
        margin: 0.581vw 0 0.516vw 0.129vw;
        padding-left: 1.290vw;
    }
}