.product__text {
    background: transparent url(../../../images/procent.svg) no-repeat 15px 2px;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    color: rgba(255, 255, 255, 0.9);
    text-align: center;
    margin: 9px 0 8px 2px;
    padding-left: 20px;
}