.header__nav {
    display: flex;
    flex-direction: row;
    margin-left: 66px;
    width: 160px;
    height: 35px;
}

@media screen and (max-width: 1570px) { 
    .header__nav {
        margin-left: 4.204vw;
        width: 10.191vw;
        height: 2.229vw;
    }
}

@media screen and (max-width: 767px) { 
    .header__nav {
        margin-left: 0;
        width: 103px;
        height: 22px;
        position: absolute;
        top: 25px;
        right: 20px;
    }
}