.footer__confid {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #7E838C;
    width: 256px;
}

@media screen and (max-width: 1570px){
    .footer__confid {
        font-size: 1.032vw;
        line-height: 1.290vw;
        width: 16.516vw;
    }
}

@media screen and (max-width: 767px){
    .footer__confid {
        font-size: 16px;
        line-height: 20px;
        width: auto;
        margin-bottom: 30px !important;
    }
}