.header {
    width: 1540px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

@media screen and (max-width: 1570px) { 
    .header {
        width: 98.089vw;
    }
}

@media screen and (max-width: 767px) { 
    .header {
        width: 414px;
        margin: o auto;
        align-items: center;
        position: relative;
    }
}