.footer__category {
    width: 256px;
    /* margin-right: 190px; */
}


@media screen and (max-width: 1570px){
    .footer__category {
        width: 16.516vw;
        /* margin-right: 12.258vw; */
    }
}

@media screen and (max-width: 767px){
    .footer__category {
        width: 256px;
        margin: 0 0 36px;
    }
}