.seo__paragraf {
    width: 1095px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #2B2E34;
    margin: 17px 0 26px;
}
.seo__paragraf:nth-child(2n) {
    margin-bottom: 28px;
}
.seo__paragraf p {
    margin: 0;
    padding: 0;
}