.seo__paragraf {
    width: 1095px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #2B2E34;
    margin: 17px 0 26px;
}
.seo__paragraf:nth-child(2n) {
    margin-bottom: 28px;
}
.seo__paragraf p {
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 1570px){
    .seo__paragraf {
        width: 70.645vw;
        font-size: 1.032vw;
        line-height: 1.677vw;
        margin: 1.677vw 0 1.677vw;
    }
    .seo__paragraf:nth-child(2n) {
        margin-bottom: 1.806vw;
    }
}