.filter__dropping {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #7E838C;
    margin: 34px 0 0 93px;
    background: transparent url(../../../images/close.svg) no-repeat 91px 2px;
    cursor: pointer;
    width: 100%;
}

@media screen and (max-width: 1570px){
    .filter__dropping {
        font-size: 1.032vw;
        line-height: 1.290vw;
        margin: 2.194vw 0 0 6vw;
        background: transparent url(../../../images/close.svg) no-repeat 5.796vw 0.127vw / 11%;
    }
}

@media screen and (max-width: 767px){
    .filter__dropping {
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        margin: 34px 0 0 93px;
        background: transparent url(../../../images/close.svg) no-repeat 90px 3px;
        padding-right: 72px;
        display: none;
    }
    .filter__apply .filter__dropping {
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        margin: 45px 0 50px 0;
        background: transparent url(../../../images/close.svg) no-repeat 90px 1px;
        padding-right: 72px;
        display: block;
}
}