.header__nav_shop {
    background: transparent url(../../../../images/shp.svg) no-repeat 0px 4px;
    width: 35px;
    height: 35px;
    position: relative;
    cursor: pointer;
}

.header__nav_orders {
    position: absolute;
    top: -3px;
    right: 0px;
    background: #1DBCD2;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    color: #fff;
    text-align: center;
    font-size: 10px;
    line-height: 17px;
    font-weight: 600;
    cursor: pointer;
}

.header__nav_shop:hover {
    opacity: 0.7;
}

@media screen and (max-width: 1570px) { 
    .header__nav_shop {
        background: transparent url(../../../../images/shp.svg) no-repeat 0px 0.258vw / 78%;
        width: 2.258vw;
        height: 2.258vw;
    }
    
    .header__nav_orders {
        top: -0.194vw;
        width: 1.032vw;
        height: 1.032vw;
        font-size: 0.645vw;
        line-height: 1.097vw;
    }
}

@media screen and (max-width: 767px) { 
    .header__nav_shop {
        background: transparent url(../../../../images/shp.svg) no-repeat center / 132%;
        width: 19px;
        height: 23px;
    }
    
    .header__nav_orders {
        display: none;
    }
}