.product__show {
    font-size: 15px;
    line-height: 28px;
    color: #2B2E34;
    width: 103px;
    height: 25px;
    margin: 30px auto 121px;
    border-bottom: 2px solid #2B2E34;
    text-align: left;
    display: none;
    font-weight: 600;
    cursor: pointer;
}

@media screen and (max-width: 767px){
    .product__show {
        display: block;
    }
}