.footer__inst {
    margin-left: 22px !important;
    font-size: 16px;
    line-height: 25px;
    background: transparent url(../../../images/inst.svg) no-repeat 2px 5px;
    padding-left: 25px !important;
}


@media screen and (max-width: 1570px){
    .footer__inst {
        margin-left: 1.290vw !important;
        font-size: 1.032vw;
        line-height: 1.613vw;
        background: transparent url(../../../images/inst.svg) no-repeat 0 0.387vw;
        padding-left: 1.613vw !important;
        background-size: 15%;
    }  
}


@media screen and (max-width: 767px){
    .footer__inst {
        margin-left: 20px !important;
        font-size: 16px;
        line-height: 25px;
        background: transparent url(../../../images/inst.svg) no-repeat 3px 5px;
        padding-left: 27px !important;
    }
}