.filter__sum {
    margin: 0 0 38px;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #2B2E34;
}

@media screen and (max-width: 1570px){
    .filter__sum {
        margin: 0 0 2.645vw;
        font-size: 1.161vw;
        line-height: 1.484vw;
    }  
}

@media screen and (max-width: 767px){
    .filter__sum {
        margin: 0 0 41px;
        font-size: 18px;
        line-height: 23px;
    }
}