.footer__vk {
    font-size: 16px;
    line-height: 25px;
    color: #7E838C;
    margin-right: 15px;
    background: transparent url(../../../images/vk.svg) no-repeat 0px 6px;
    padding-left: 33px !important;
}