.filter__heating {
   margin: 0 30px 62px;
}

@media screen and (max-width: 1570px){
   .filter__heating {
      margin: 0 1.935vw 3.871vw;
   }
}

@media screen and (max-width: 767px){
   .filter__heating {
      margin: 0px 21px 94px;
   }
  
   .filter__block .filter__heating {
      margin: 0px 21px 56px;
   }
}