.footer__schedule {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.footer__schedule {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-size: 16px;
    line-height: 28px;
    color: #7E838C;
    font-weight: 300;
}

.footer__schedule p {
    margin: 0;
}

.footer .logo__image {
    margin: 0;
}