.menu__catalog {
    margin-left: 18px;
}

.menu__catalog p {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #2B2E34;
    padding-left: 40px;
    background: transparent url(../../../images/batery.svg) no-repeat 0px 1px;
    position: relative;
    margin-bottom: 30px;
}

.menu__catalog p::after {
    content: '';
    width: 15px;
    height: 15px;
    position: absolute;
    top: 0;
    right: 21px;
    background: transparent url(../../../images/Vector.svg) no-repeat 2px 8px;;
}

.menu__catalog:last-of-type {
    padding-bottom: 74px;
}

.menu__catalog:last-of-type li {
    margin-bottom: 27px;
}