.menu__catalog {
    margin-left: 19px;
}

.menu__catalog p {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #2B2E34;
    padding-left: 42px;
    background: transparent url(../../../images/batery.svg) no-repeat 1px 0px;
    position: relative;
    margin-bottom: 30px;
}

.menu__catalog p::after {
    content: '';
    width: 17px;
    height: 15px;
    position: absolute;
    top: 0;
    right: 17px;
    background: transparent url(../../../images/Vector.svg) no-repeat 2px 7px;
}

.search .menu__catalog {
    margin: 0 0 0 54px;
    font-weight: normal;
    font-size: 14px;
    line-height: 25px;
    color: #2B2E34;
}

.menu__catalog_search li {
    margin: 10px 0 !important;
    font-size: 14px;
}

@media screen and (max-width: 1570px) { 
    .menu__catalog_search li {
        margin: 0.637vw 0 !important;
        font-size: 0.892vw;
    }
    .search .menu__catalog {
        margin: 0 0 0 3.439vw;
        line-height: 1.592vw;
    }
}

@media screen and (max-width: 767px) { 
    .menu__catalog_search li {
        margin: 10px 0 !important;
        font-size: 13px;
        line-height: 24px;
    }
}