.product__image {
    margin: 0 auto;
    object-fit: contain;
}

.product__box:nth-of-type(3n) .product__image {
    margin-top: 19px;
}

@media screen and (max-width: 1570px){
    .product__box:nth-of-type(1n) .product__image {
        width: 15.548vw;
        height: 18.903vw;
    }
    .product__box:nth-of-type(2n) .product__image {
        width: 18.581vw;
        height: 17.419vw;
    }
    .product__box:nth-of-type(3n) .product__image {
        margin-top: 1.226vw;
        width: 15.871vw;
        height: 15.871vw;
    }
}

@media screen and (max-width: 767px){
    .product__box:nth-of-type(1n) .product__image {
        width: 121px;
        height: 147px;
    }
    .product__box:nth-of-type(2n) .product__image {
        margin-top: 12px;
        width: 152px;
        height: 143px;
    }
    .product__box:nth-of-type(3n) {
        display: none;
    }
}