.catalog__filter {
    display: none;
    background: transparent url(../../../images/bar-chart-2.svg) no-repeat 2px -4px;
    padding-left: 35px;
    margin-right: 0;
    font-weight: 500;
}

@media screen and (max-width: 767px){   
    .catalog__filter {
        display: block;
    }
}