.header__nav_person {
    background: transparent url(../../../../images/person.svg) no-repeat center 5px;
    width: 28px;
    height: 35px;
    margin: 0 29px 0 31px;
    cursor: pointer;
}

.header__nav_person:hover {
    opacity: 0.7;
}

@media screen and (max-width: 1570px) { 
    .header__nav_person {
        background: transparent url(../../../../images/person.svg) no-repeat center 0.323vw / 101%;
        width: 1.783vw;
        height: 2.229vw;
        margin: 0 1.847vw 0 1.975vw;
    }
}
@media screen and (max-width: 767px) { 
    .header__nav_person {
        background: transparent url(../../../../images/person.svg) no-repeat center / 123%;
        width: 20px;
        height: 25px;
    }
}