.product__box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    background: #FFFFFF;
    border-radius: 2px;
    height: 487px;
    margin-bottom: 35px;
}

@media screen and (max-width: 1570px){
    .product__box {
        border-radius: 0.129px;
        height: 31.419vw;
        margin-bottom: 2.258vw;
    }
}

@media screen and (max-width: 767px){
    .product__box {
        border-radius: 2px;
        height: 281px;
        margin-bottom: 15px;
    }
    .product__box:nth-of-type(3n) {
        display: none;
    }
    .product__box:nth-of-type(14)  {
        display: none;
    }
    .product__box:nth-of-type(15)  {
        display: none;
    }
    .product__box:nth-of-type(13)  {
        display: none;
    }
}