.catalog__price {
    font-weight: 400;
    font-size: 17px;
    line-height: 27px;
    color: #7E838C;
    margin: 31px 0 0;
    background: transparent url(../../../images/Vector.svg) 214px 9px no-repeat;
    padding-right: 42px;
}

.catalog__price span {
    font-weight: 500;
    color: #2B2E34;
    margin-left: 5px;
}