.catalog__price {
    font-weight: 400;
    font-size: 17px;
    line-height: 27px;
    color: #7E838C;
    margin: 31px 0 0 0;
    background: transparent url(../../../images/Vector.svg) 212px 9px no-repeat;
    padding-right: 30px;
}

.catalog__price span {
    font-weight: 500;
    color: #2B2E34;
    margin-left: 5px;
}

.catalog__price_sort {
    display: none;
}

@media screen and (max-width: 1570px){
    .catalog__price {
        font-size: 1.097vw;
        line-height: 1.742vw;
        margin: 2vw 0 0 0;
        background: transparent url(../../../images/Vector.svg) 13.677vw 0.581vw no-repeat;
        background-size: 4.5%;
        padding-right: 1.935vw;
    }
    
    .catalog__price span {
        margin-left: 0.323vw;
    }
}

@media screen and (max-width: 767px){
    .catalog__price {
        display: none;
    }

    .catalog__price_sort {
        background: transparent url(../../../images/Vector.svg) 113px 7px no-repeat;
        position: relative;
        padding-right: 33px;
        margin-top: 30px;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.02em;
        color: #2B2E34;
        font-weight: 500;
        display: block;
    }
}