.info {
    display: flex;
    margin: 17px auto 0;
    height: 83px;
    align-items: center;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    width: 1540px;
    justify-content: space-between;
}

.info a {
    text-decoration: none;
    color: #2B2E34;
}

.info a:hover {
    opacity: 0.7;
}

@media screen and (max-width: 1570px) { 
    .info {
        margin: 1.097vw auto 0;
        height: 5.355vw;
        font-size: 1.146vw;
        line-height: 1.656vw;
        width: 98.089vw;
    }
    
}

@media screen and (max-width: 767px) { 
    .info {
        display: none;
    }
    
}