.catalog__product {
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: #7E838C;
    margin: 32px 0 0;
    display: flex;
    flex-direction: row;
}

.catalog__product span {
    font-weight: 500;
    color: #2B2E34;
    font-size: 18px;
    margin-right: 5px;
}

@media screen and (max-width: 1570px){
    .catalog__product {
        font-size: 1.032vw;
        line-height: 1.484vw;
        margin: 2.065vw 0 0;
    }
    
    .catalog__product span {
        font-size: 1.161vw;
        margin-right: 0.323vw;
    }
}

@media screen and (max-width: 767px){   
    .catalog__product {
        position: absolute;
        top: -87px;
        left: 3px;
        font-size: 18px;
        line-height: 23px;
        font-weight: 400;
        color: #7E838C;
        margin: 32px 0 0;
    }
    .catalog__product span {
        font-size: 18px;
        line-height: 23px;
        margin-right: 3px;
        letter-spacing: 0.1px;
    }
}