.info__phone {
    background: url(../../../images/phone.svg) no-repeat 0 0;
    padding-left: 37px;
    margin-left: 167px;
}

.footer .info__phone {
    background: url(../../../images/VectorPhone.svg) no-repeat 2px 0px;
    padding-left: 35px;
    margin-bottom: 19px;
    color: #2B2E34;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    display: block;
}

@media screen and (max-width: 1570px) {
    .info__phone {
        background-size: 11%;
        padding-left: 2.387vw;
        margin-left: 10.774vw;
    }
    
    .footer .info__phone {
        background: url(../../../images/VectorPhone.svg) no-repeat 0.129vw 0px;
        padding-left: 2.258vw;
        background-size: 7.5%;
        margin-bottom: 1.226vw;
        font-size: 1.161vw;
        line-height: 1.355vw;
    }
}

@media screen and (max-width: 767px) {
    .footer .info__phone {
        background: url(../../../images/VectorPhone.svg) no-repeat 4px -4px;
        padding-left: 35px;
        margin-bottom: 19px;
        color: #2B2E34;
        font-weight: 600;
        font-size: 18px;
        line-height: 16px;
    }
}