.wood__home {
    font-weight: normal;
    font-size: 15px;
    line-height: 19px;
    color: #858A93;
    text-decoration: none;
}

.wood__home:hover {
    opacity: 0.7;
}

@media screen and (max-width: 1570px){
    .wood__home {
        font-size: 0.968vw;
        line-height: 1.226vw;
    }
}
