.footer__designed {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #7E838C;
    display: flex;
    align-items: center;
    width: 299px;
}

@media screen and (max-width: 1570px){
    .footer__designed {
        font-size: 1.032vw;
        line-height: 1.290vw;
        width: 19.290vw;
    }
}

@media screen and (max-width: 767px){
    .footer__designed {
        font-size: 16px;
        line-height: 20px;
        display: flex;
        align-items: center;
        width: auto;
    }
}