.info__contacts {
    background: url(../../../images/contacts.svg) no-repeat 0px center;
    padding-left: 35px;
    margin-left: 166px;
}

@media screen and (max-width: 1570px) { 
    .info__contacts {
        background: url(../../../images/contacts.svg) no-repeat 0px center / 20%;
        padding-left: 2.258vw;
        margin-left: 10.710vw;
    }
}
