.product__pic {
    height: 293px;
    margin: 5px auto 0;
    display: flex;
    align-items: center;
}


@media screen and (max-width: 1570px){
    .product__pic {
        height: 18.903vw;
        margin: 0.323vw auto 0;
    }
}

@media screen and (max-width: 767px){
    .product__pic {
        height: 147px;
        margin: 6px auto 0;
    }
}