.footer {
    display: flex;
    justify-content: space-between;
    width: 1520px;
    margin: 0 auto;
    background-color: white;
    flex-wrap: wrap;
    padding-bottom: 15px;
}

.footer ul,
.footer li,
.footer a {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #7E838C;
}

.footer .logo__image {
    margin: 0 0 58px 0;
}