.footer {
    display: flex;
    width: 1545px;
    margin: 0 auto;
    background-color: white;
    flex-wrap: wrap;
    padding-bottom: 15px;
}

.footer ul,
.footer li,
.footer a {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #7E838C;
}

.footer .logo__image {
    margin: -6px 0px 51px 2px;
}

.footer__contacts {
    width: 280px;
    margin-right: 200px;
}

.footer__category {
    width: 256px;
    margin-right: 190px;
}

.footer__category:nth-child(4) {
    width: auto;
    margin-right: 0;
}