.menu__close {
    /* width: 18px;
    height: 18px;
    cursor: pointer;
    background: transparent url(../../../images/close.svg) no-repeat center;
    float: right; */
    width: 24px;
    height: 25px;
    cursor: pointer;
    background: transparent url(../../../images/closeDark.svg) no-repeat center / 88%;
    float: right;
}

.menu__close_search {
    width: 24px;
    height: 25px;
    cursor: pointer;
    background: transparent url(../../../images/closeDark.svg) no-repeat center / 88%;
    float: right;
}