.search__text { 
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #2B2E34;
    background: transparent url(../../../images/loupe.svg) no-repeat -1px 2px;
    padding: 0 0 13px 36px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.13);
}