.catalog__sorting {
    display: flex;
    justify-content: space-between;
    padding: 0 41px;
    width: 1049px;
    height: 87px;
    background: #F4F4F4;
    border-radius: 3px;
    margin-bottom: 35px;
}

@media screen and (max-width: 1570px){
    .catalog__sorting {
        padding: 0 2.645vw;
        width: 67.677vw;
        height: 5.613vw;
        border-radius: 0.194vw;
        margin-bottom: 2.258vw;
    }
}

@media screen and (max-width: 767px){
    .catalog__sorting {
        position: relative;
        margin-top: 38px;
        width: 346px;
        height: 79px;
        align-items: baseline;
        margin-bottom: 40px;
        padding: 2px 12px;
    }
}