.product__sale {
    width: 110px;
    height: 37px;
    background: #F31B4F;
    border-radius: 2px 0px 0px 0px;
    position: absolute;
    top: 0;
    left: 0;
}

@media screen and (max-width: 1570px){
    .product__sale {
        width: 7.097vw;
        height: 2.387vw;
        border-radius: 0.129vw 0px 0px 0px;
    }
}

@media screen and (max-width: 767px){
    .product__sale {
        width: 79px;
        height: 30px;
        background: #F31B4F;
        border-radius: 2px 0px 0px 0px;
        top: 0;
        left: 3px;
    }
}