.banner__icon {
    width: 44px;
    margin-left: 11px;
}

@media screen and (max-width: 1570px){
    .banner__icon {
        width: 2.839vw;
        margin-left: 0.710vw;
    }
}

@media screen and (max-width: 767px) { 
    .banner__icon {
        height: 10px;
        width: 32px;
    }
    .filter__apply .banner__icon {
        width: 31.48px;
        height: 17.28px;
        margin-left: 10px;
    }
}