.seo__title {
    font-weight: 500;
    font-size: 35px;
    line-height: 44px;
    color: #2B2E34;
    margin: 0 auto 48px 0;
}

@media screen and (max-width: 1570px){
    .seo__title {
        font-size: 2.258vw;
        line-height: 2.839vw;
        margin: 0 auto 3.097vw 0;
    }
}